/* ブラウザのデフォルトのマージンとパディングをリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh; /* viewportの高さを100%に設定 */
}

#top {
    width: 100%;
    height: 200px;
}

#bottom {
    height: calc(100% - 200px); /* #topの高さを引いた残りの高さを設定 */
    width: 100%;
    overflow: auto; /* 追加 */
}

#top_right {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    display: flex;
    align-items: center;
}

#right_block  {
    width: 60%;
    height: 150px; 
    border-right: 2px solid #757575;
    border-bottom: 2px solid #757575;
   text-align: center;
    
}

#right_block h4 {
    height: 50px; 
    line-height: 50px;
    border-bottom: 2px solid #757575;
}

#right_block h2 {
    height: 100px; 
    line-height: 100px;
    font-size: 50px;
    border-bottom: 2px solid #757575;
}


#top_left {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
}

#left_block {
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: row; /* 横並びに設定 */
    justify-content: space-around;
    align-items: center; /* 縦方向の中央揃えを設定 */
    border-bottom: 2px solid #757575;
}

#left_block h2{
    border-left: 2px solid #757575;
    width: 30%;
    height: 50px;
    line-height: 50px;
}

#left_block h4{
    width: 70%;
    height: 50px;
    line-height: 50px;
}

#count_p{
    font-size: 200px;
    text-align: center;
}
#input_ui_dom {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.input_ui_css {
    width: 200px;
    height: 270px;
}

.input_ui_css button{
    width: 50%;
    height: 50px;
}

#answer_button_ui {
    width: 100%;
}

#answer_button_ui button{
    width: 50%;
    height: 50px;
}

/* スマホ用設定 */
@media screen and (max-width: 768px) {
    #top_right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #EFEFEF;
    }

    #right_block:nth-child(even)  {
        width: 60%;
        height: 150px; 
        border-right: none;
        border-bottom: 2px solid #757575;
       text-align: center;
        
    }

    #top_left {
        position: absolute;
        top: 150px;
        right: 0;
        width: 100%;
        display: flex;
        background-color: #EFEFEF;
    }

    #left_block:nth-child(even) {
        border-right: 2px solid #757575;
        border-left: 2px solid #757575;
    }

    #left_block h2{
        border-left: none;
        width: 30%;
        height: 50px;
        line-height: 50px;
    }

    #input_ui_dom {
        display: flex;
        flex-direction: column; /* 縦に並べる */
        margin: auto;
        justify-content: center; /* 横方向の中央から配置を開始 */
        align-items: center; /* 縦方向の中央から配置を開始 */
    }

    .input_ui_css {
        width: 250px;
        height: 150px;
        margin-bottom: 20px;
    }
    .input_ui_css button{
        position: relative;
        bottom: 100px;
        width: 50px;
        height: 100%;
        margin: 0px;
    }
    #answer_button_ui {
        position: relative; /* 相対位置指定 */
        bottom: 0px; /* 親要素の一番下に配置 */
        width: 100%; /* 必要に応じて調整 */
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #answer_button_ui button{
        width: 50%;
        height: 50px;
    }
}

@media screen and (max-width: 450px) {
   
    #left_block {
        font-size: 12px;
    }

    #right_block h2{
        font-size: 30px;
    }
    

}