#title_left {
    width: 70%;
    height: 200px;
}

#title_left h1 p {
    text-align: center;
    display: flex;
}

#title_left h1 {
    width: 100%;
    height: auto;
    font-size: 100%;
}

#title_right {
    width: 30%;
}
#title_right button{
    width: 100%;
    height:50%;
    color: #EFEFEF;
    font-size: 120%;
    background-color: #79BD9A;
    
}

.main_frame {
    position: relative;
    top: 100px;
    width: 70%;
   margin: auto;
   text-align:center;
   display: flex;
}

#explanation {
    margin-top: 30px;
    width: 70%;
    border: 2px solid #79BD9A;
}

.explanation_block {
    display: flex;
}

.explanation_block h2 {
    padding-right: 2.5%;
    width: 25%;
    position: absolute;
    left: 0px;
}

.explanation_block p{
    text-align: left;
    position: absolute;
    right: 0px;
    width: 70%;
    padding-left: 2.5%;
    border-left: 2px solid #757575;
}
