#center {
    width: 80%;
    height: 200px;
    display: flex;
}

#title_left {
    width: 60%;
    height: 100%;
    text-align: center;
}

#title_left h1{
    font-size: 70px;
    margin: 0px;
}

#title_right {
    width: 40%;
    height: 210px;
}


.title_right_block {
    display: flex;
    height: 96px;
    border: 2px solid #757575;
    border-radius: 40px;

}

.title_right_block:hover {
    background-color: #8CD790;
}

.title_right_block:nth-child(odd){
    margin-bottom: 10px;
}

.title_right_block_text {
   width: 70%;
   margin: 0;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   border-right: 2px dashed #757575;
}

.title_right_block_text p {
    margin: 0px;
    text-align: center;
}

.title_right_block img{
    width: 60px;
    height: 60px;
    margin: auto;
}

/*タブレット用設定*/
@media screen and (max-width: 960px) {
    #center {
        width: 80%;
        height: 400px;
        display: block;
    }

    #title_left {
        width: 100%;
        height: 150px;
    }

    #title_left h1{
        font-size: 50px;
        margin: 0px;
    }

    #title_right {
       width: 100%;
    }

    .title_right_block_p {
        width: 500px;
    }
}