

#select_top {
    top: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid #79BD9A;
}
#select_top h1{
    margin: auto;
}


#select_left {
    position: relative;
    top: 0px;
    left: 0px;
    width: 50%;
}



#rotate{
    width: 300px;
    margin: auto;
}

.rotate_botton {
    background-color: #79BD9A;
    width: 50%;
    float: left;
}

#select_right {
    position: relative;
    top: 0px;
    right: 0px;
    width: 50%;
    border-left: 4px solid #79BD9A;
}

#select_right h3{
    position: relative;
    font-size: 17px;
    bottom: 20px;
    margin-left: 5%;
    margin-right: 0%;
    border-bottom: 4px solid #79BD9A;
}

.three_part {
    float:left;
    width: 30%;
    height: 50px;
}

.three_part p{
    color: #79BD9A;
    position: relative;
    bottom: 30px;
    font-size: 100px;
    margin: 5%;
    width: 30%;
    height: 100px;
}

.right_arrow {
    background-image: url("../image/right.png");
    background-color:  #79BD9A;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 30%;
    height: 100px;
}

.left_arrow {
    background-image: url("../image/left.png");
    background-color:  #79BD9A;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 30%;
    height: 100px;
}


#number {
    width: 70%;
    height: 120px;
    padding-left: 15%;
    padding-right: 15%;
}
